.footer{
   width: 100%;
   height: 100px;
   background-color: #3F0071 ;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: #89CFFD;
   direction: rtl;
}
.img-footer{
   width: 60px;
   height: 60px;
   border-radius: 25px;
   filter: hue-rotate(90deg);
}
.lista-footer{
   display: flex;
   list-style-type: none;
}
.item-footer{
   padding: 15px;
}