.header {
   min-height: 10vh;
   width: 100vw;
   background-color: #3F0071;
   color: lightcyan;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 25px;
}
.lista-menu {
   /*ul*/
   display: flex;
   list-style-type: none;
   font-size: 1.3rem;
}

.item-menu {
   /*li*/
   padding: 10px 15px;
}

.link-menu {
   text-decoration: none;
   color: lightcyan;
   font-size: 1.6rem;
}
.link-menu:hover{
   background-color: #E8DFCA;
   border-radius: 2px;
   color: darkcyan;
}
#icone-menu {
   font-size: 2rem;
   display: none;
   gap: 15px;
}
.logo-txt{
   background: lightblue;
   background-clip: border-box;
   -webkit-background-clip: text;
   background-clip: text;
   position: absolute;
   z-index: 1;
   -webkit-text-fill-color: transparent;

}
.text {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 40px;
   letter-spacing: 30px;
   line-height: 1;
   margin: 0;
   position: relative;
 }